<div class="well" ng-controller="RequestFormController">
    <div class="row">
        <div class="form-group col-xs-12 col-lg-12">
            <h3>{{language == languages[0]? "Request Details | උපකාර ඉල්ලීම": language == languages[1]? "Request Details | வேண்டுகோள் விபரங்கள்": "Request Details"}}:</h3>
        </div>
        <div class="form-group col-xs-12 col-lg-12">
            <div class="row">
            <label for="disasterType" style="padding-left: 15px;">{{language == languages[0]? "Disaster Type | ආපදා වර්ගය": language == languages[1]? "Disaster Type | அனர்த்த வகை": "Disaster Type"}}:<font color="red">*</font></label>
        </div>
            <span>
                <div class="col-md-6 col-xs-12 col-lg-6" style="padding-left: 0px;">
                    <select ng-model="model.req_disaster_type" class="form-control">
                        <option id="disasterType" ng-repeat="disasterCategory in disasterCategories" value="{{disasterCategory.value}}">
                            {{disasterCategory.name}}
                        </option>
                    </select>
                </div>
            </span>
        </div> 
        
        <div class="form-group col-xs-12 col-lg-12">
            <label for="comment">{{language == languages[0]? "Details of Request | අවශ්‍යතා පිළිබඳ විස්ත‍ර": language == languages[1]? "Details of Request | வேண்டுகோள் பற்றிய விபரங்கள்": "Details of Request"}}:<font color="red">*</font></label>
            <textarea type="text" ng-model="model.req_details" class="form-control" id="comment" rows="10"></textarea>
        </div>
        <div class="form-group col-xs-12 col-lg-12">
            <div class="row">
            <label for="requestType" style="padding-left: 15px;">{{language == languages[0]? "Request Type | අවශ්‍යතා වර්ගය": language == languages[1]? "Request Type | வேண்டுகோள் வகை": "Request Type"}}:<font color="red">*</font></label>
        </div>
            <span ng-repeat="category in categories">
                <div  class="col-md-6">
                    <label class="checkbox" for="{{category.id}}" style="padding-left: 10px;">
                        <input type="checkbox" ng-model="selection.values[category.value]" name="group" id="{{category.id}}" />
                            {{category.name}}
                    </label>
                </div>
            </span>
        </div> 
       
        <div class="form-group col-xs-12 col-lg-12">
            <h3>{{language == languages[0]? "Size of Group Request is for | අවශ්‍යතා සහිත පුද්ගලයින් සංඛ්‍යාව": language == languages[1]? "Size of Group Request is for | குழு கோரிக்கையின் அளவு": "Size of Group Request is for"}}:</h3>
        </div>
        <div class="form-group col-xs-12 col-lg-2">
            <label for="totalHeadCount">{{language == languages[0]? "Total Headcount | මුළු සංඛ්‍යාව": language == languages[1]? "Total Headcount | மொத்த நபர் எண்ணிக்கை ": "Total Headcount"}}:</label>
            <input type="number" ng-model="model.req_for_people" class="form-control" id="totalHeadCount" />
        </div>
        <div class="form-group col-xs-12 col-md-2 col-lg-2">
            <label for="adultHeadCount">{{language == languages[0]? "Adults | වැඩිහිටියන් සංඛ්‍යාව": language == languages[1]? "Adults | வயதுவந்தவர்கள்": "Adults"}}:</label>
            <input type="number" ng-model="model.req_for_adults" class="form-control" id="adultHeadCount" ng-blur="calculateTotalHeadCount()" />
        </div>
        <div class="form-group col-xs-12 col-md-2 col-lg-2">
            <label for="adultHeadCount">{{language == languages[0]? "Kids (6-18) | ළමුන් (අවු. 6-18)": language == languages[1]? "Kids (6-18) | குழந்தைகள் (6-18வயது)": "Kids (6-18)"}}:</label>
            <input type="number" ng-model="model.req_for_kids" class="form-control" id="kidsHeadCount" ng-blur="calculateTotalHeadCount()"/>
        </div>
        <div class="form-group col-xs-12 col-md-2 col-lg-2">
            <label for="infantHeadCount">{{language == languages[0]? "Infants | ළමුන් (අවු. 5ට අඩු)": language == languages[1]? "Infants | குழந்தைகள் (5 வயதுக்கு குறைவான)": "Infants"}}:</label>
            <input type="number" ng-model="model.req_for_infants" class="form-control" id="infantHeadCount" ng-blur="calculateTotalHeadCount()"/>
        </div>
 
        <div class="form-group col-xs-12 col-lg-12">
            <h3>{{language == languages[0]? "Location of Group Request is for | අවශ්‍යතා ඇති පිරිස සිටින ස්ථානය": language == languages[1]? "Location of Group Request is for | குழு கோரிக்கையின் இடம்": "Location of Group Request is for"}}:</h3>
        </div>
       <div class="form-group col-xs-12 col-lg-6">
            <label for="area">{{language == languages[0]? "Area | ප්‍රදේශය": language == languages[1]? "Area | பகுதி": "Area"}}:</label>
            <input type="text" ng-model="model.req_area.location" class="form-control" id="area" ng-autocomplete  options="townSelectorOptions" />
        </div>
        <div class="form-group col-xs-12 col-lg-6">
            <label for="district">{{language == languages[0]? "District | ප්‍රදේශය": language == languages[1]? "District | பகுதி": "District"}}:</label>
            <select ng-model="model.req_area.district" class="form-control" id="district" ng-change="loadLoc('district')">
                <option value="">- Select -</option>
                <option ng-repeat="d in districts_SINHALA" value="{{d.value}}">{{d.name}}</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-lg-6">
            <label for="ds">{{language == languages[0]? "DS Division | ප්‍රදේශය": language == languages[1]? "DS Division | பகுதி": "DS Division"}}:</label>
            <select ng-model="model.req_area.ds" class="form-control" id="ds" ng-change="loadLoc('ds')">
                <option value="">- Select -</option>
                <option ng-repeat="ds in dsDivisions" value="{{ds.value}}">{{ds.name}}</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-lg-12">
            <label for="address">{{language == languages[0]? "Address | ලිපිනය": language == languages[1]? "Address | முகவரி": "Address"}}:<font color="red">*</font></label>
            <input type="text" ng-model="model.req_address" class="form-control" id="address" />
        </div>
  
        <div class="form-group col-xs-12 col-lg-12">
            <h3>{{language == languages[0]? "Contact Details of Person Making Request | අයදුම්කරුවා පිලිබඳ විස්තර": language == languages[1]? "Contact Details of Person Making Request | கோரும் நபரின் தொடர்பாடல் விபரங்கள்": "Contact Details of Person Making Request"}}:</h3>
        </div>
        <div class="form-group col-xs-12 col-lg-6">
            <label for="name">{{language == languages[0]? "Full Name of Person Making Request | අයදුම්කරුවාගේ නම": language == languages[1]? "Full Name of Person Making Request | கோரிக்கை நபரின் முழு பெயர்": "Full Name of Person Making Request"}}:<font color="red">*</font></label>
            <input type="text" ng-model="model.per_fullname" class="form-control" id="name" />
        </div>
        <div class="form-group col-xs-12 col-lg-6">
            <label for="organization">{{language == languages[0]? "Organization | ආයතනය": language == languages[1]? "Organization | நிறுவனம்": "Organization"}}:</label>
            <input type="text" ng-model="model.per_organization" class="form-control" id="organization" />
        </div>
        <div class="form-group col-xs-12 col-lg-6">
            <label for="name">{{language == languages[0]? "National Identity Card, Driving License or Passport No. | ජාතික හැඳුනුම්පත් අංකය, රියදුරු බලපත්‍ර අංකය හෝ විදේශ ගමන් බලපත්‍ර අංකය": language == languages[1]? "National Identity Card, Driving License or Passport No. | தேசிய அடையாள அட்டை, ஓட்டுனர் உரிமம் அல்லது கடவுச்சீட்டு எண்": "National Identity Card, Driving License or Passport No."}}:</label>
            <input type="text" ng-model="model.nationalID" class="form-control" id="nic" />
        </div>
        <div class="form-group col-xs-12 col-lg-6">
            <label for="mobileNumber">Main Mobile Number {{language == languages[2]? ":": " | "}}<font color="red">{{language == languages[2]? "*": ""}}</font><br/>{{language == languages[0]? "දුරකථන අංකය": language == languages[1]? "பிரதான கையடக்கத்தொலைபேசி எண்": ""}}{{language == languages[2]? "": ":"}} <font color="red">{{language == languages[2]? "": "*"}}</font></label>
            <input type="text" ng-model="model.per_mobile" class="form-control" id="mobileNumber" />
        </div>        
        <div class="form-group col-xs-12 col-lg-12">
            <label for="email">{{language == languages[0]? "Other Contact Details and Contact Persons | වෙනත් ඇමතුම් විස්තර": language == languages[1]? "Other Contact Details and Contact Persons | பிற விபரங்கள் மற்றும் தொடர்புகொள்ளத்தக்க நபர்கள்": "Other Contact Details and Contact Persons"}}:</label>
            <textarea type="text" ng-model="model.req_contact_other" class="form-control" id="email" rows="5"/>
        </div>

     <div class="form-group col-xs-12">
            <button class="btn btn-primary" ng-disabled="busy" ng-click="submitRequest()">{{busy? 'Wait...': 'Submit'}}</button>            
        </div>
    </div>
</div>
