<div class="well" ng-controller="RequestFormController">
    <div class="row">
        <div class="form-group col-xs-12 col-lg-12">
            <h3>{{language == languages[0]? "Request Details | උපකාර ඉල්ලීම": language == languages[1]? "Request Details | tamil": "Request Details"}}:</h3>
        </div>
        
<!--
         <div class="form-group col-xs-12 col-lg-6">
            <label for="requestType">Disaster Type:</label>
            <select ng-model="model.req_type_REF" class="form-control" id="requestType" >
                <option value="">- Select -</option>
                <option value="FLOOD">FLOOD</option>
                <option value="DROUGHT">DROUGHT</option>
                <option value="INDUSTRIAL_HAZARD">INDUSTRIAL HAZARD</option>
                <option value="TSUNAMI">TSUNAMI</option>
                <option value="EARTHQUAKE">EARTHQUAKE</option>
                <option value="AIR_HAZARD">AIR HAZARD</option>
                <option value="MARITIME_HAZARD">MARITIME HAZARD</option>
                <option value="FIRE">FIRE</option>
                <option value="EPIDEMIC">EPIDEMIC</option>
                <option value="EXPLOSION">EXPLOSION</option>
                <option value="AIR_RAIDS">AIR RAIDS</option>
                <option value="CIVIL">CIVIL OR INTERNAL STRIFE</option>
                <option value="CHEMICAL">CHEMICAL ACCIDENT</option>
                <option value="RADIOLOGICAL">RADIOLOGICAL EMMERGENCY</option>
                <option value="OIL_SPILLS">OIL SPILLS INCLUDING INLAND & MARINE</option>
                <option value="NUCLEAR">NUCLEAR DISASTER</option>
                <option value="FOREST_FIRE">URBAN AND FOREST FIRE</option>
                <option value="EROSION">COASTAL EROSION</option>
                <option value="LIGHTNING">TORNADOS, LIGHTENING STRIKES & SEVERE THUNDER STORMS</option>
                <option value="OTHER">OTHER</option>
            </select>
        </div> 
-->
        
        
        <div class="form-group col-xs-12 col-lg-12">
            <div class="row">
            <label for="requestType" style="padding-left: 15px;">{{language == languages[0]? "Disaster Type | ආපදා වර්ගය": language == languages[1]? "Disaster Type | tamil": "Disaster Type"}}:<font color="red">*</font></label>
        </div>
            <span>
                <div class="col-md-6 col-xs-12 col-lg-6" style="padding-left: 0px;">
                    <select ng-model="model.req_disaster_type" class="form-control">
                        <option ng-repeat="disasterCategory in disasterCategories" value="{{disasterCategory.value}}">
                            {{disasterCategory.name}}
                        </option>
                    </select>
                </div>
            </span>
        </div> 
        
        <div class="form-group col-xs-12 col-lg-12">
            <label for="comment">{{language == languages[0]? "Details of Request | අවශ්‍යතා පිළිබඳ විස්ත‍ර": language == languages[1]? "Details of Request | tamil": "Details of Request"}}:<font color="red">*</font></label>
            <textarea type="text" ng-model="model.req_details" class="form-control" id="comment" rows="10"></textarea>
        </div>
        <div class="form-group col-xs-12 col-lg-12">
            <div class="row">
            <label for="requestType" style="padding-left: 15px;">{{language == languages[0]? "Request Type | අවශ්‍යතා වර්ගය": language == languages[1]? "Request Type | tamil": "Request Type"}}:<font color="red">*</font></label>
        </div>
            <span ng-repeat="category in categories">
                <div  class="col-md-6">
                    <label class="checkbox" for="{{category.id}}" style="padding-left: 10px;">
                        <input type="checkbox" ng-model="selection.values[category.value]" name="group" id="{{category.id}}" />
                            {{category.name}}
                    </label>
                </div>
            </span>
        </div> 
       
        <div class="form-group col-xs-12 col-lg-12">
            <h3>{{language == languages[0]? "Size of Group Request is for | අවශ්‍යතා සහිත පුද්ගලයින් සංඛ්‍යාව": language == languages[1]? "Size of Group Request is for | tamil": "Size of Group Request is for"}}:</h3>
        </div>
        <div class="form-group col-xs-12 col-lg-2">
            <label for="totalHeadCount">{{language == languages[0]? "Total Headcount | මුළු සංඛ්‍යාව": language == languages[1]? "Total Headcount | tamil": "Total Headcount"}}:</label>
            <input type="number" ng-model="model.req_for_people" class="form-control" id="totalHeadCount" />
        </div>
        <div class="form-group col-xs-12 col-md-2 col-lg-2">
            <label for="adultHeadCount">{{language == languages[0]? "Adults | වැඩිහිටියන් සංඛ්‍යාව": language == languages[1]? "Adults | tamil": "Adults"}}:</label>
            <input type="number" ng-model="model.req_for_adults" class="form-control" id="adultHeadCount" ng-blur="calculateTotalHeadCount()" />
        </div>
        <div class="form-group col-xs-12 col-md-2 col-lg-2">
            <label for="adultHeadCount">{{language == languages[0]? "Kids (6-18) | ළමුන් (අවු. 6-18)": language == languages[1]? "Kids (6-18) | tamil": "Kids (6-18)"}}:</label>
            <input type="number" ng-model="model.req_for_kids" class="form-control" id="kidsHeadCount" ng-blur="calculateTotalHeadCount()"/>
        </div>
        <div class="form-group col-xs-12 col-md-2 col-lg-2">
            <label for="infantHeadCount">{{language == languages[0]? "Infants | ළමුන් (අවු. 5ට අඩු)": language == languages[1]? "Infants | tamil": "Infants"}}:</label>
            <input type="number" ng-model="model.req_for_infants" class="form-control" id="infantHeadCount" ng-blur="calculateTotalHeadCount()"/>
        </div>
 
        <div class="form-group col-xs-12 col-lg-12">
            <h3>{{language == languages[0]? "Location of Group Request is for | අවශ්‍යතා ඇති පිරිස සිටින ස්ථානය": language == languages[1]? "Location of Group Request is for | tamil": "Location of Group Request is for"}}:</h3>
        </div>
       <div class="form-group col-xs-12 col-lg-6">
            <label for="area">{{language == languages[0]? "Area | ප්‍රදේශය": language == languages[1]? "Area | tamil": "Area"}}:</label>
            <input type="text" ng-model="model.req_area" class="form-control" id="area" ng-autocomplete  options="townSelectorOptions" />
        </div>
        <div class="form-group col-xs-12 col-lg-12">
            <label for="address">{{language == languages[0]? "Address | ලිපිනය": language == languages[1]? "Address | tamil": "Address"}}:<font color="red">*</font></label>
            <input type="text" ng-model="model.req_address" class="form-control" id="address" />
        </div>
  
        <div class="form-group col-xs-12 col-lg-12">
            <h3>{{language == languages[0]? "Contact Details of Person Making Request | අයදුම්කරුවා පිලිබඳ විස්තර": language == languages[1]? "Contact Details of Person Making Request | tamil": "Contact Details of Person Making Request"}}:</h3>
        </div>
        <div class="form-group col-xs-12 col-lg-6">
            <label for="name">{{language == languages[0]? "Full Name of Person Making Request | අයදුම්කරුවාගේ නම": language == languages[1]? "Full Name of Person Making Request | tamil": "Full Name of Person Making Request"}}:<font color="red">*</font></label>
            <input type="text" ng-model="model.per_fullname" class="form-control" id="name" />
        </div>
        <div class="form-group col-xs-12 col-lg-6">
            <label for="organization">{{language == languages[0]? "Organization | ආයතනය": language == languages[1]? "Organization | tamil": "Organization"}}:</label>
            <input type="text" ng-model="model.per_organization" class="form-control" id="organization" />
        </div>
        <div class="form-group col-xs-12 col-lg-6">
            <label for="name">{{language == languages[0]? "National Identity Card, Driving License or Passport No. | ජාතික හැඳුනුම්පත් අංකය, රියදුරු බලපත්‍ර අංකය හෝ විදේශ ගමන් බලපත්‍ර අංකය": language == languages[1]? "National Identity Card, Driving License or Passport No. | tamil": "National Identity Card, Driving License or Passport No."}}:</label>
            <input type="text" ng-model="model.nationalID" class="form-control" id="nic" />
        </div>
        <div class="form-group col-xs-12 col-lg-6">
            <label for="mobileNumber">Main Mobile Number {{language == languages[2]? ":": " | "}}<font color="red">{{language == languages[2]? "*": ""}}</font><br/>{{language == languages[0]? "දුරකථන අංකය": language == languages[1]? "tamil": ""}}{{language == languages[2]? "": ":"}} <font color="red">{{language == languages[2]? "": "*"}}</font></label>
            <input type="text" ng-model="model.per_mobile" class="form-control" id="mobileNumber" />
        </div>        
        <div class="form-group col-xs-12 col-lg-12">
            <label for="email">{{language == languages[0]? "Other Contact Details and Contact Persons | වෙනත් ඇමතුම් විස්තර": language == languages[1]? "Other Contact Details and Contact Persons | tamil": "Other Contact Details and Contact Persons"}}:</label>
            <textarea type="text" ng-model="model.req_contact_other" class="form-control" id="email" rows="5"/>
        </div>

     <div class="form-group col-xs-12">
            <button class="btn btn-primary" ng-disabled="busy" ng-click="submitRequest()">{{busy? 'Wait...': 'Submit'}}</button>            
        </div>
    </div>
</div>
