<div ng-controller="LoginController">

	    <div class="login-form">
      <form>
        <div class="top">
          <img src="images/logos.png" alt="icon" class="icon ">
          <h1>DMC Dashboard</h1>
          <h4>Login</h4>
        </div>
        <div class="form-area">
          <div class="group">
            <input type="text" class="form-control" placeholder="Username" ng-model="username">
            <i class="fa fa-user"></i>
          </div>
          <div class="group">
            <input type="password" class="form-control" placeholder="Password" ng-model="password">
            <i class="fa fa-key"></i>
          </div>
          
          <button class="btn btn-default btn-block" ng-click="login()">LOGIN</button>
        </div>
      </form>
      
    </div>



<!--     <div class="row">
        <div class="col-xs-12">
        	sadasdsadsad
        	<button ng-click="login()">Click Me!</button>
        </div>
    </div> -->
</div>
