<div ng-controller="ControlCenterController">
    
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Change Status</h3>
            </div>
             <div class="modal-body">
                 <div class="row">
                    <label for="title" class="col-sm-1">Comment:</label>
                    <div class="col-sm-10">
                        <input type="text" data-ng-model="comment" class="form-control" id="title" placeholder="Type your comment here" required title="Enter your comment"  style="margin-bottom: 15px;"/>
                    </div>
                 </div>

                 <div class="row">
                    <label for="title" class="col-sm-1">Status:</label>
                    <div class="col-sm-10">
                        <select class= "form-control" ng-model="selectedStatus"> 
                            <option ng-repeat="s in statuses">{{s}}</option>
                        </select>
                    </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <div class="container">
<!--
            <div class="jumbotron">
                <div class="row">
                    <img src="images/logos.png" width="50" class="col-lg-2" />
                    <div class="col-lg-10">
                        <h3>DMC - Control Centre</h3>
                        <h4>Requests</h4>
                    </div>
                </div>                
            </div>
-->
            
            
            <div class="jumbotron" style="padding-top: 18px; padding-bottom: 18px;">
                <div class="row">
                    <!-- <img src="images/sl-government-logo.svg" width="100" class="col-lg-2 pull-left" /> -->
                    <img src="images/logos.png" class="col-md-4" width="100%"/>
                    <div class="col-md-8 row pull-right" style="padding-right:70px">
<!--                        <h1>&#9742;&nbsp;117</h1>-->
                        <h1>DMC - Control Center</h1>
                        <h4>Requests</h4>
                    </div>
                    <!-- <img src="images/dmc-logo.png" width="100" class="col-lg-2 pull-right" /> -->
                </div>                
            </div>
            
            <div class="well">
                <div class="row">
                    <div class="form-group col-xs-12 col-lg-3">
                        <label for="requestType">Request Type:</label>
                        <select ng-model="filters.req_type_REF" class="form-control" id="requestType" ng-change="loadRequests()">
                                <option value="">- Select -</option>
                                <option ng-repeat="r in requestTypes" value="{{r}}">{{r}}</option>
<!--                             <option value="">- Select -</option>
                            <option value="FOOD">Food</option>
                            <option value="SHELTER">Shelter</option>
                            <option value="MEDICAL">Medical</option>
                            <option value="EVACUATION">Evacuation</option>
                            <option value="MISSING_PERSON">Missing Person</option>
                            <option value="DAMAGE">Damage</option>
                            <option value="OTHER">Other</option> -->
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-lg-3">
                        <label for="area">Area:</label>
                        <input type="text" ng-model="filters.req_area" class="form-control" id="area" ng-autocomplete  options="townSelectorOptions"/>
                    </div>  
                    <div class="form-group col-xs-12 col-lg-3">
                        <label for="area">Organization:</label>
                        <input type="text" ng-model="filters.per_organization" class="form-control" id="organization" />
                    </div>  
                    <div class="form-group col-xs-12 col-lg-3">
                        <label for="nic">NIC:</label>
                        <input type="text" ng-model="filters.nationalID" class="form-control" id="nic" />
                    </div>
                    <div class="form-group col-xs-12 col-lg-3">
                        <label for="status">Status:</label>
                        <select type="text" ng-model="filters.reqstatus_REF" class="form-control" id="status" ng-change="loadRequests()">
                            <option value="OPEN">Open</option>
                            <option value="PARTIAL">Partial</option>
                            <option value="FULFILLED">Fulfilled</option>
                            <option value="DEFERRED">Deferred</option>
                            <option value="DUPLICATE">Duplicate</option>
                            <option value="REJECTED">Rejected</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-2 col-lg-2">
                        <label>&nbsp;</label> <br />
                        <button class="btn btn-warning" ng-click="loadRequests()">{{loading? 'Loading...': 'Filter'}}</button>
                    </div>
                </div>
            </div>
            <div class="panel request-list" infinite-scroll="loadNextPage()" infinite-scroll-distance="3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Area</th>
                            <th>People</th>
                            <th>Organization</th>                            
                            <th>Request Summary</th>
                            <th>NIC of Requestor</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="request in requests">
                            <td>{{request.req_made_date}}</td>
                            <td>{{request.req_type_REF}}</td>
                            <td>{{request.req_area | limitTo:15}}</td>
                            <td title="Adults:{{request.req_for_adults}} Kids:{{request.req_for_kids}} Infants:{{request.req_for_infants}}">{{request.req_for_people}}</td>
                            <td>{{request.per_organization}}</td>                            
                            <td title="{{request.req_details}}">{{request.req_details | limitTo:20}}</td>
                            <td title="{{request.per_fullname}} ({{request.per_mobile}})">{{request.nationalID}}</td>
                            <td title="Org:{{request.req_status_org}} Per:{{request.req_status_person}} {{request.status_mobile}}">
                            {{request.reqstatus_REF}}</td>
                            <td><button class="btn btn-warning ng-binding" ng-click="changeStatus(request.req_ID,request.reqstatus_REF)">Change</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
