<div ng-controller="ControlCenterController">
    
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Change Status</h3>
            </div>
             <div class="modal-body">
                 <div class="row">
                    <label for="title" class="col-sm-1">Comment:</label>
                    <div class="col-sm-10">
                        <textarea type="text" data-ng-model="comment" class="form-control" id="title" placeholder="Type your comment here" required title="Enter your comment"  style="margin-bottom: 15px;" rows="5"/>
                    </div>
                 </div>

                 <div class="row">
                    <label for="title" class="col-sm-1">Status:</label>
                    <div class="col-sm-10  col-lg-2 col-md-2">
                        <select class= "form-control" ng-model="selectedStatus"> 
                            <option ng-repeat="s in statuses">{{s}}</option>
                        </select>
                    </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="myDetailsModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Request Details</h3>
            </div>
             <div class="modal-body">
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Request ID:</label>
                    <div class="col-sm-10">
                        {{requestSelected.req_ID}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Disaster Type:</label>
                    <div class="col-sm-10">
                        {{requestSelected.req_disaster_type}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Details of Request:</label>
                    <div class="col-sm-10">
                        {{requestSelected.req_details}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Request Type:</label>
                    <div class="col-sm-10">
                        {{requestSelected.req_type_REF}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Total Headcount:</label>
                    <div class="col-sm-10">
                        {{requestSelected.req_for_people}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Adults:</label>
                    <div class="col-sm-10">
                        {{requestSelected.req_for_adults}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Kids (6-18):</label>
                    <div class="col-sm-10">
                        {{requestSelected.req_for_kids}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Infants:</label>
                    <div class="col-sm-10">
                        {{requestSelected.req_for_infants}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Area:</label>
                    <div class="col-sm-10">
                        {{requestSelected.req_area}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Address:</label>
                    <div class="col-sm-10">
                        {{requestSelected.req_address}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Full Name:</label>
                    <div class="col-sm-10">
                        {{requestSelected.per_fullname}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Organization:</label>
                    <div class="col-sm-10">
                        {{requestSelected.per_organization}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">NIC:</label>
                    <div class="col-sm-10">
                        {{requestSelected.nationalID}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Mobile Number:</label>
                    <div class="col-sm-10">
                        {{requestSelected.per_mobile}}
                    </div>
                 </div>

                 <div class="row">
                    <label for="title" class="col-sm-2">Other Contact Details:</label>
                    <div class="col-sm-10  col-lg-2 col-md-2">
                        {{requestSelected.req_contact_other}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Opened Date:</label>
                    <div class="col-sm-10  col-lg-2 col-md-2">
                        {{requestSelected.req_made_date}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Closed Date:</label>
                    <div class="col-sm-10  col-lg-2 col-md-2">
                        {{requestSelected.req_close_date}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Status:</label>
                    <div class="col-sm-10  col-lg-2 col-md-2">
                        {{requestSelected.reqstatus_REF}}
                    </div>
                 </div>
                 
                 <div class="row">
                    <label for="title" class="col-sm-2">Comments:</label>
                    <div class="col-sm-10  col-lg-2 col-md-2">
                        {{requestSelected.per_comments}}
                    </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            </div>
        </script>

        <div class="container">
            
            <div class="jumbotron" style="padding-top: 0px; padding-bottom: 0px;margin-bottom: 15px;">
                <div class="row">
                    <!-- <img src="images/sl-government-logo.svg" width="100" class="col-lg-2 pull-left" /> -->
                    <img src="images/dmc-logos.png" class="col-md-2 pull-left" width="200px" style="padding-top:10px;"  />
                    <div class="col-md-10 pull-right" style="padding-left:70px; padding-bottom:0px; padding-top:0px;">
                        <!-- <h1>&#9742;&nbsp;117</h1> -->
                        <h4>DMC - Control Centre</h4>
                        <h5 style="margin-top: 0px;">Requests</h5>
                       <!--  <h6>For safer communities and sustainable development in Sri Lanka</h6>
                        <a>eoc@dmc.gov.lk</a> -->
                    </div>
                    <!-- <img src="images/dmc-logo.png" width="100" class="col-lg-2 pull-right" /> -->
                </div>                
            </div>
            
            <div class="well">
                <div class="row" style="line-height: 0.7em;">
                    <div class="form-group col-xs-12 col-md-2">
                        <label for="requestType">Request Type:</label>
                        <select ng-model="filters.req_type_REF" class="form-control" id="requestType" ng-change="loadRequests()">
                                <option value="">- Select -</option>
                                <option ng-repeat="r in requestTypes" value="{{r}}">{{r}}</option>
                        </select>
                    </div>
                    
                    <div class="form-group col-xs-12 col-md-2">
                        <label for="disasterType">Disaster Type:</label>
                        <select ng-model="filters.req_disaster_type" class="form-control" id="disasterType" ng-change="loadRequests()">
                                <option value="">- Select -</option>
                                <option ng-repeat="r in disasterTypes" value="{{r}}">{{r}}</option>
                        </select>
                    </div>
                    
                    <div class="form-group col-xs-12 col-md-2">
                        <label for="area">Area:</label>
                        <input type="text" ng-model="filters.req_area" class="form-control" id="area" ng-autocomplete  options="townSelectorOptions"/>
                    </div>  
                    <div class="form-group col-xs-12 col-md-2">
                        <label for="name">Name</label>
                        <input type="text" ng-model="filters.per_fullname" class="form-control" id="name" />
                    </div>  
                    <div class="form-group col-xs-12 col-md-2">
                        <label for="mobileNumber">Mobile Number</label>
                        <input type="text" ng-model="filters.per_mobile" class="form-control" id="mobileNumber" />
                    </div>
                    <div class="form-group col-xs-12 col-md-2">
                        <label for="organization">Organization</label>
                        <input type="text" ng-model="filters.per_organization" class="form-control" id="organization" />
                    </div>
                    
                    <div class="form-group col-xs-12 col-md-2">
                        <label for="status">Status:</label>
                        <select type="text" ng-model="filters.reqstatus_REF" class="form-control" id="status" ng-change="loadRequests()">
                            <option value="">- Select -</option>
                             <option ng-repeat="s in statusTypes" value="{{s}}">{{s}}</option>
                        </select>
                    </div>
                    
                    <div class="form-group col-xs-12 col-md-2">
                        <label for="startDate">Start Date:</label>
                        <input id="datetimepicker" style="width: 100%;" class="form-control" />
                    </div>
                    
                    <div class="form-group col-xs-12 col-md-2">
                        <div class="demo-section k-content">
                <h4>Remind me on</h4>
                <input id="datetimepicker" style="width: 100%;" />

                      <button class="btn btn-default"
              ng-csv="requests" filename="123.csv" field-separator="{{separator}}" decimal-separator="{{decimalSeparator}}"
              >Export to CSV</button>


            </div>
            
            <script>
                $(document).ready(function () {
                    // create DateTimePicker from input HTML element
                    $("#datetimepicker").kendoDateTimePicker({
                        value:new Date()
                    });
                });
            </script>
                    
                    <script>
                $(document).ready(function () {
                    // create DateTimePicker from input HTML element
                    $("#datetimepicker2").kendoDateTimePicker({
                        value:new Date()
                    });
                });
            </script>
                    
                    
                    
                    
                    
                    
                    
                    <div class="form-group col-xs-2 col-md-1">
                        <label>&nbsp;</label> <br />
                        <button class="btn btn-warning" ng-click="loadRequests()">{{loading? 'Loading...': 'Filter'}}</button>
                    </div>
                </div>
            </div>
            <div class="panel request-list" infinite-scroll="loadNextPage()" infinite-scroll-distance="3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Area</th>
                            <th>People</th>
                            <th>Name</th>                            
                            <th>Request Summary</th>
                            <th>Mobile Number</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="request in requests">
                            <td ng-click="openDetails(request)" style="cursor: pointer">{{request.req_made_date}}</td>
                            <td ng-click="openDetails(request)" style="cursor: pointer">{{request.req_type_REF}}</td>
                            <td ng-click="openDetails(request)" style="cursor: pointer">{{request.req_area | limitTo:15}}</td>
                            <td ng-click="openDetails(request)" style="cursor: pointer" title="Adults:{{request.req_for_adults}} Kids:{{request.req_for_kids}} Infants:{{request.req_for_infants}}">{{request.req_for_people}}</td>
                            <td ng-click="openDetails(request)" style="cursor: pointer">{{request.per_fullname}}</td>                            
                            <td ng-click="openDetails(request)" style="cursor: pointer" title="{{request.req_details}}">{{request.req_details | limitTo:40}}</td>
                            <td ng-click="openDetails(request)" style="cursor: pointer" title="{{request.per_nationalID}}">{{request.per_mobile}}</td>
                            <td ng-click="openDetails(request)" style="cursor: pointer" title="Org:{{request.req_status_org}} Per:{{request.req_status_person}} {{request.status_mobile}}">
                            {{request.reqstatus_REF}}</td>
                            <td><button class="btn btn-warning ng-binding" ng-click="changeStatus(request.req_ID,request.reqstatus_REF)">Change</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
